body {
   margin: 0;
   padding: 0;
   background-color: #19232d;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
     'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
     sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
} 

.app-wrapper {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -70%);
   width: 40%;
   margin: 0 auto;
   text-align: center;
}

.app-wrapper .question {
   color: #fff;
   text-align: center;
}

.app-wrapper .options {
   height: 30px;
   padding: 5px;
   line-height: 1.8;
   margin-bottom: 0;
   text-align: center;
   background: #f7f7f7;
   border: 1px solid aquamarine;
   cursor: pointer;
}

.app-wrapper .selected {
   background: orange;
}

.app-wrapper button {
   margin: 30px 0;
   font-size: 15px;
   padding: 10px 40px;
   cursor: pointer;
}

.app-wrapper .end-of-game {
   color: #fff
}

@media(max-width: 1000px) {
   .app-wrapper {
      width: 90%;
      transform: translate(-50%, -60%);
   }
   .app-wrapper .question {
      font-size: 17px;
   }
   .app-wrapper .options {
      height: 24px;
      line-height: 1.5;
   }
   .app-wrapper button {
      margin: 22px 0;
   }
}